[Desktop Entry]
Type=Application
Name=TraceView
Comment=Real-time telemetry dashboard
Exec=TraceView
Icon=io.github.alisontristao.TraceView
Terminal=false
Categories=Development;
StartupWMClass=TraceView
